<div class="navbar-container">
  <div class="navbar-title-top"><p>Jobsearchproject</p></div>

  <div class="navbar-title-bottom">
    <%# <div class="nav-title">
      <p>Jobsearchproject</p>
    </div> %>

    <div>
      <ul class="nav-links">

        <div class="nav-item">
          <li><%= link_to "Home", "#" %></li>
          <div class="active-nav"></div>
        </div>

        <div class="nav-item">
          <li><%= link_to "Stats", "#" %></li>
        </div>

        <div class="nav-item">
          <li><%= link_to "Profile", "#" %></li>
        </div>

      </ul>
    </div>

    <%# <div class="nav-photo">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
    </div> %>
  </div>

</div>
