<h1>Home</h1>
<% if current_user %>
  <p>
    You are logged in as <%= current_user.email %>.
  </p>
<% else %>
  <p>
    You are not logged in.
  </p>
  <p>
    <%= link_to "Log in", new_user_session_path %>
  </p>
  <p>
    <%= link_to "Sign up now!", new_user_registration_path %>
  </p>
<% end %>
