<%= turbo_frame_tag "modal" do %>

  <div class="modal">
    <h1>Edit offer</h1>
    <%= render "form", offer: @offer %>
    <div>
      <%= link_to "Cancel", "", data:{
        controller: "modals",
        action: "click->modals#closeModal"
      } %>
    </div>
  </div>

<% end %>
