<div class="home-container" data-controller="refresh-list">
  <%= render "shared/navbar_options" %>

  <div class="index-offer-container">

    <div class="offer-container-left-and-right">

      <div class="index-offer-container-left">
        <div class="offer-card">
          <%= render 'list', offers: @offer %>
        </div>
      </div>

      <div id="modal-add-edit" class="holder-container-right hidden-container">
        <%= turbo_frame_tag "modal" %>
      </div>

      <div class="holder-container-right" id="holder-container-right">
        <div class="container-right background-gradient">
          <div class="index-offer-container-right background-white">
            <div class="" id="offer-info-box" data-controller="offer-zoom" data-offer-zoom-target="offerInfo">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
