<%= turbo_frame_tag "modal" do %>

  <div class="modal">
    <%# <div class="holder-container-right"> %>
      <div class="form-background-gradient">
        <div class="form-container-field background-white">

          <h1>New offer</h1>
          <%= render "form", offer: @offer %>

        </div>
      </div>
    <%# </div> %>
  </div>
<% end %>
