.button-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  // background: #f400ff;
  background: linear-gradient(150deg, #f400ff 0%, #8800ff 40%, #8800ff 60%, #00d4ff 100%);
  // padding: 10px;
  color: var(--white);
  border-radius: 30px;
  border: none;
  // box-shadow: 5px 5px 12px #919191;
  font-weight: bold;
  width: 100px;
  text-decoration: none;
  // text-align: center;
  font-size: 1rem;
}

.button-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 2px solid var(--red);
  color: var(--red);
  border-radius: 30px;
  border: none;
  font-weight: bold;
  width: 100px;
  text-decoration: none;
  font-size: 1rem;
}
