.button-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #f400ff;
  background: linear-gradient(150deg, #f400ff 0%, #8800ff 40%, #8800ff 60%, #00d4ff 100%);
  // padding: 10px;
  color: white;
  border-radius: 30px;
  border: none;
  // box-shadow: 5px 5px 12px #919191;
  font-weight: bold;
  width: 100px;
  text-decoration: none;
  // text-align: center;
}

.form-search {
  position: relative;
  flex-grow: 1;
}

.button-search {
  position: absolute;
  /* top: 2px; */
  /* left: 2px; */
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 30px;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
}

.button-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 2px solid red;
  color: red;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  width: 100px;
  text-decoration: none;
}

.search-bar {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.empty-search {
  color: grey;
  position: absolute;
  right: 20px;
  font-weight: bold;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.empty-search:hover {
  color: red;
}
