.button-main {
  background: #f400ff;
  background: linear-gradient(150deg, #f400ff 0%, #8800ff 40%, #8800ff 60%, #00d4ff 100%);
  padding: 20px 31px;
  color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 5px 5px 12px #919191;
  font-weight: bold;
  width: 150px;
  text-decoration: none;
  text-align: center;
}
