
// .index-offer-container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   gap: 1rem;
//   margin-top: 1rem;
// }

.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  // margin-top: 1rem;
}

.offer-card-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  border: 1px solid #252525;
  width: 600px;
  height: 60px;
}

.offer-card-item > * {
  text-align: center;
  width: 20%;
  padding: 0px 1rem 0px 1rem;
}
